.title-m-get{
    padding-top: 49px;
    font-size: 62px;
    font-family: Poppins;
    font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
}
.gettitle1{
    font-weight: 100;
}
.gettitle2{
    font-weight: 800;
}
.platform{
    width:138px;
    
    
}
