.footer-area{
    /*background-image: url('/src/assets/img/annie-spratt-yI3weKNBRTc-unsplash\ copy@3x.png') ;*/
    z-index: 0;
    height: 395px;
    width: 100%;
    position: fixed;
}
.footer-bg{
    background-color: #3d256c;
    height: 395px;
    width: 100%;
    opacity: 100%;
    z-index: 1;
}
.footerlogo{
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}
.footlogo{
    width: 307px;
    height: 87.4px;
    margin: 50.4px 0 0 0 ; 
    opacity: 100%;
}
.footer2{
    margin-top: 49.2px;
}
.footer_list{
    list-style: none;
    color:#fff;
    display: flex;
    justify-content: center; 
}
.footer_list a{
  width: 92px;
  height: 21px;
  margin: 0px 66.5px 0 63.3px;
  font-family: Poppins;
  font-size: 15px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}
.footer_icons_list{
  list-style: none;  
  justify-content: center;
  display: flex;
  color:#fff ;
}
.HashGate-All-Rights-Reserved {
    margin: 40.7px 129.9px 0 130px;
    color: #fff;
    justify-content: center;
    display: flex;
    font-family: Karla;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
  }