.slider {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  button {
    margin: 0 10px;
  }
  
  img {
    max-width: 100%;
    height: auto;
  }
  @media (max-width: 768px) {
    .swiper-container {
      padding: 20px 0px 0px 40px;
    }
  }
  
  @media (max-width: 576px) {
    .swiper-container {
      padding: 10px 0px 0px 20px;
    }
  }
  
  /* Add more media queries and adjust padding and slidesPerView as needed */
  