
body{
    max-width: 1980px;
    min-width: 300px;
    justify-content: center;
    background-color: #000 !important;
    justify-content: center;
    display: flex;
    align-items: center;
    color: #fff !important;
}
*{
    font-family: Poppins;
}
